.photo {
    &__container {
        padding: 60px 0 0 0;
    }

    &__intro {
        text-align: center;
        border-bottom: 1px solid #cccccc;
        margin: 0 0 60px 0;
        @include make-col-ready();
		@include make-col(12);
    }

    &__gallery {
        display: flex;
        flex-wrap: wrap;
        @include make-col-ready();
        @include make-col(12);
    }

    &__item {
        margin: 0 0 60px 0;

        @include media-breakpoint-up(md) {
            width: 50%;

            &:nth-child(odd) {
                padding: 0 15px 0 0;
            }

            &:nth-child(even) {
                padding: 0 0 0 15px;
            }
        }

        @include media-breakpoint-up(lg) {
            width: 33.33%;

            &:nth-child(3n+1) {
                padding: 0 15px 0 0;
            }

            &:nth-child(3n+2) {
                padding: 0 7.5px;
            }

            &:nth-child(3n+3) {
                padding: 0 0 0 15px;
            }
		}

		a {
			h3 {
				color: #252627;

				&:hover,
				&:active,
				&:visited {
					color: #252627;
				}
			}
		}
    }

    &__image {
		position: relative;

		&:first-child {
			-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
			-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
			box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
		}

		&:hover {
			@include media-breakpoint-up(md) {
				img {
					transform: rotate(0deg) !important;
					transition: transform .2s ease;
				}
			}
		}

        img {
            max-width: 100%;
			height: auto;

            &:nth-child(2) {
                position: absolute;
                top: 0;
                left: 0;
            }

            &:nth-child(3) {
                position: absolute;
                top: 0;
                left: 0;
			}
        }
	}

	&__bottom {
		&--1 {
			transform: rotate(-1deg);
			transition: transform .2s ease;
		}

		&--2 {
			transform: rotate(-2deg);
			transition: transform .2s ease;
		}

		&--3 {
			transform: rotate(-3deg);
			transition: transform .2s ease;
		}

		&--4 {
			transform: rotate(-4deg);
			transition: transform .2s ease;
		}

		&--5 {
			transform: rotate(-5deg);
			transition: transform .2s ease;
		}
	}

	&__middle {
		&--1 {
			transform: rotate(1deg);
			transition: transform .2s ease;
		}

		&--2 {
			transform: rotate(2deg);
			transition: transform .2s ease;
		}

		&--3 {
			transform: rotate(3deg);
			transition: transform .2s ease;
		}

		&--4 {
			transform: rotate(4deg);
			transition: transform .2s ease;
		}

		&--5 {
			transform: rotate(5deg);
			transition: transform .2s ease;
		}
	}

    &__description {
        h3 {
            margin-top: 25px;
        }
    }
}
